<!-- Input box and OK button -->
<div class="d-flex justify-content-between align-items-center">
    <input type="text" name="Task" placeholder="New Task" id="form2" class="form-control" />
    <button type="submit" class="btn btn-info ms-2" class="btn btn-info ms-2"
        style="background-color: #013a63; color: white">
        Add
    </button>
</div>

<% if (locals.taskCreated) { %>
    <!-- List of tasks -->
    <ul class="list-group mt-3" id="taskList">
        <% taskCreated.forEach((item, index)=> { %>
            <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                style="background-color: #f4f6f7">
                <input class="form-check-input me-2" type="checkbox" value="" aria-label="..."
                    id="checkbox<%= index %>" />
                <span class="task-text" id="task<%= index %>">
                    <%= item.name %>
                </span>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <!-- Alert message -->
        <% if (locals.alertMessage) { %>
            <p class="mt-3">
                <%= alertMessage %>
            </p>
            <% } %>