<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 rounded-3 part1">

        <div class="date">
            <h2><%= date %></h2>
        </div>
        <div>
          <a class="weatherwidget-io" href="https://forecast7.com/en/43d65n79d38/toronto/" data-label_1="TORONTO" data-label_2="WEATHER" data-theme="beige" >TORONTO WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        </div>
        <div>
          <iframe title="deezer-widget" src="https://widget.deezer.com/widget/light/playlist/1479458365" width="100%" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write" border-radius = "30px"></iframe>
        </div>
            
            
      </div>
    </div>
